<header class="">
  <div class="bg-green-600">
    <div class="m-auto max-w-[1170px] py-2 flex items-center justify-between ">
      <div class="flex items-center gap-3 text-[0.850rem] font-extralight">
        <span class="text-alabaster-400 font-extralight">+244 944 145 409</span>
        <span class="text-alabaster-400">geral@ndca.com</span>
      </div>
      <div class="flex items-center gap-3 font-extralight  text-[0.850rem]">
        <span class="text-alabaster-400 font-extralight">+244 944 145 409</span>
        <span class="text-alabaster-400">geral@ndca.com</span>
      </div>
    </div>
  </div>
  <nav class="bg-white border-b">
    <div
      class="m-auto max-w-[1170px] py-1 flex items-center justify-between uppercase"
    >
      <div class="flex items-center gap-3">
        <img
          class="w-24"
          src="https://ndca-online-demo.netlify.app/assets/images/logondca/logotiporectang.png"
          alt=""
        />
        <a>Inicio</a>
        <a>Protutos</a>
        <a>Carrinho</a>
        <a>Sobre</a>
      </div>
      <div class="flex gap-3">
        <a>Login</a>
        <a>Conta</a>
      </div>
    </div>
  </nav>
  <div class="bg-gradient-to-r from-blue-500 via-blue-700 to-blue-900">
    <div
      class="m-auto max-w-[1170px] relative py-2 gap-3 flex items-center justify-between uppercase"
    >
      <div
        class="w-[300px] flex items-center justify-between gap-3 h-full absolute border-b-4 border-white p-2 from-blue-700 bg-gradient-to-r via-blue-700 to-blue-900"
      >
        <i class="bi bi-list text-2xl text-white font-semibold"></i>
        <span class="flex items-center text-white text-sm font-semibold">
          Categoria de produtos
        </span>
        <i class="bi bi-chevron-down text-white"></i>
      </div>

      <div class="flex w-full ml-80 items-end gap-3">
        <form class="w-full flex items-end relative justify-end">
          <i
            class="bi bi-search absolute bottom-1 right-3 text-alabaster-600/50"
          ></i>
          <input
            class="w-4/5 ring-green-500/40 group outline-none  focus:ring-2 rounded-sm border-[0.0599rem] border-alabaster-600/40 py-1 pl-3 pr-9 outline-0 bg-transparent"
            type="text"
            name=""
            id=""
            placeholder="O que precuras ?"
          />
        </form>

        <button
          class="flex items-center text-white rounded border-0 bg-green-700"
        >
          <span class="py-1 px-3">Carrinho</span>
          <span class="py-1 px-3 bg-green-500/30"> 1 </span>
          <span class="py-1 px-3 bg-green-600 rounded-r-md">
            <i class="bi bi-cart3"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
<main class="pb-12">
  <div class="m-auto max-w-[1170px] flex">
    <section class="w-[400px] flex flex-col gap-12">
      <div class="w-full h-fit bg-white shadow-md">
        <a
          href="#"
          class="w-full py-3 group cursor-pointer flex items-center gap-3 border-b border-gray-400/30 px-3"
        >
          <h1 class="">COMPUTADORES</h1>
        </a>

        <a
          class="w-full group cursor-pointer flex items-center gap-3 border-b border-white/30 p-3"
        >
          <span class="flex items-center text-gray-500 text-xs font-semibold">
            Acessórios e Informática
          </span>
          <!-- <ul class="hidden w-[300px] absolute bottom-0 z-30 top-0 left-[17rem] bg-black group-hover:flex">
                akmmakfkac
              </ul> -->
        </a>
        <a
          class="w-full group cursor-pointer flex items-center gap-3 border-b border-white/30 p-3"
        >
          <span class="flex items-center text-gray-500 text-xs font-semibold">
            Perfume
          </span>
          <!-- <ul class="hidden w-[300px] absolute bottom-0 z-30 top-0 left-[17rem] bg-black group-hover:flex">
                akmmakfkac
              </ul> -->
        </a>

        <a
          class="w-full group cursor-pointer flex items-center gap-3 border-b border-white/30 p-3"
        >
          <span class="flex items-center text-gray-500 text-xs font-semibold">
            Telefones
          </span>
          <!-- <ul class="hidden w-[300px] absolute bottom-0 z-30 top-0 left-[17rem] bg-black group-hover:flex">
                akmmakfkac
              </ul> -->
        </a>

        <a
          href="#"
          data-active="active"
          class="w-full group hover:bg-blue-700 data-[active]:bg-blue-700 cursor-pointer flex items-center gap-3 border-b border-white/30 p-3"
        >
          <span
            class="flex items-center group-data-[active]:text-white group-hover:text-white text-gray-500 text-xs font-semibold"
          >
            Computadores
          </span>
          <!-- <ul class="hidden w-[300px] absolute bottom-0 z-30 top-0 left-[17rem] bg-black group-hover:flex">
                akmmakfkac
              </ul> -->
        </a>

        <a
          class="w-full group cursor-pointer flex items-center gap-3 border-b border-white/30 p-3"
        >
          <span class="flex items-center text-gray-500 text-xs font-semibold">
            Calçados
          </span>
          <!-- <ul class="hidden w-[300px] absolute bottom-0 z-30 top-0 left-[17rem] bg-black group-hover:flex">
                akmmakfkac
              </ul> -->
        </a>
        <a
          class="w-full group cursor-pointer flex items-center gap-3 border-b border-white/30 p-3"
        >
          <span class="flex items-center text-gray-500 text-xs font-semibold">
            Imagem e Som
          </span>
          <!-- <ul class="hidden w-[300px] absolute bottom-0 z-30 top-0 left-[17rem] bg-black group-hover:flex">
                akmmakfkac
              </ul> -->
        </a>
      </div>

      <div class="w-full h-fit">
        <a
          class="w-full py-3 group cursor-pointer flex items-center justify-between gap-3 border-b border-gray-400/30 px-3"
        >
          Filtro <i class="bi bi-chevron-down text-gray-400"></i>
        </a>
        <div class="mt-3">
          <form>
            <div>
              <div class="w-full pt-3 group cursor-pointer s gap-3 px-3">
                <span class="flex items-center font-extralight"> Marca </span>
              </div>
              <div class="mt-3 px-3 flex flex-col gap-5">
                <div class="flex items-center gap-2">
                  <label for="check" class="sr-only">ACER</label>

                  <input
                    type="checkbox"
                    name="check"
                    id=""
                    class="accent-green-700 cursor-pointer w-4 h-4 rounded-none border border-gray-300/5 text-gray-400"
                  />
                  <span
                    for="check"
                    class="text-sm text-alabaster-700 font-extralight"
                    >ACER</span
                  >
                </div>
                <div class="flex items-center gap-2">
                  <label for="check" class="sr-only">ACER</label>

                  <input
                    type="checkbox"
                    name="check"
                    id=""
                    class="cursor-pointer accent-green-700 w-4 h-4 rounded-none border border-gray-300 text-gray-400"
                  />
                  <span
                    for="check"
                    class="text-sm text-alabaster-700 font-extralight"
                    >ACER</span
                  >
                </div>
                <div class="flex items-center gap-2">
                  <label for="check" class="sr-only">ACER</label>

                  <input
                    type="checkbox"
                    name="check"
                    id=""
                    class="cursor-pointer accent-green-700 w-4 h-4 rounded-none border border-gray-300 text-gray-400"
                  />
                  <span
                    for="check"
                    class="text-sm text-alabaster-700 font-extralight"
                    >ACER</span
                  >
                </div>
                <div class="flex items-center gap-2">
                  <label for="check" class="sr-only">ACER</label>

                  <input
                    type="checkbox"
                    name="check"
                    id=""
                    class="cursor-pointer accent-green-700 w-4 h-4 rounded-none border border-gray-300 text-gray-400"
                  />
                  <span
                    for="check"
                    class="text-sm text-alabaster-700 font-extralight"
                    >ACER</span
                  >
                </div>
              </div>
            </div>

            <div>
              <div class="w-full pt-3 group cursor-pointer s gap-3 px-3">
                <span class="flex items-center font-extralight">Tamanho</span>
              </div>
              <div class="mt-3 px-3 flex flex-col gap-5">
                <div class="flex items-center gap-2">
                  <label for="check" class="sr-only">ACER</label>

                  <input
                    type="checkbox"
                    name="check"
                    id=""
                    class="accent-green-700 cursor-pointer w-4 h-4 rounded-none border border-gray-300/5 text-gray-400"
                  />
                  <span
                    for="check"
                    class="text-sm text-alabaster-700 font-extralight"
                    >ACER</span
                  >
                </div>
                <div class="flex items-center gap-2">
                  <label for="check" class="sr-only">ACER</label>

                  <input
                    type="checkbox"
                    name="check"
                    id=""
                    class="cursor-pointer accent-green-700 w-4 h-4 rounded-none border border-gray-300 text-gray-400"
                  />
                  <span
                    for="check"
                    class="text-sm text-alabaster-700 font-extralight"
                    >ACER</span
                  >
                </div>
                <div class="flex items-center gap-2">
                  <label for="check" class="sr-only">ACER</label>

                  <input
                    type="checkbox"
                    name="check"
                    id=""
                    class="cursor-pointer accent-green-700 w-4 h-4 rounded-none border border-gray-300 text-gray-400"
                  />
                  <span
                    for="check"
                    class="text-sm text-alabaster-700 font-extralight"
                    >ACER</span
                  >
                </div>
                <div class="flex items-center gap-2">
                  <label for="check" class="sr-only">ACER</label>

                  <input
                    type="checkbox"
                    name="check"
                    id=""
                    class="cursor-pointer accent-green-700 w-4 h-4 rounded-none border border-gray-300 text-gray-400"
                  />
                  <span
                    for="check"
                    class="text-sm text-alabaster-700 font-extralight"
                    >ACER</span
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="w-full">
      <div class="mt-7 w-full px-5">
        <div class="flex items-center justify-between">
          <h3 class="font-extralight">MACBOOK</h3>
          <form>
            <select name="" id="" class="w-72 p-1 ring-blue-500/30 rounded-sm outline-none  focus:ring-1  border px-2  bg-white">
              <option value="" class="text-red-400">
                <span>Preço: o mais caro primeiro</span>
              </option>
            </select>
          </form>
        </div>
        <div class="row mt-4">
          <div class="col-md-4 ">
            <div class="w-full group shadow-sm p-2 relative">
              <div
                class=" w-full rounded-sm transition-all overflow-hidden  cursor-pointer"
              >
                <img
                  class="h-fit w-full"
                  alt="100%x280"
                  src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d"
                />
                <div
                  class="absolute gap-3 hidden bottom-0 inset-0 backdrop-blur-sm  group-hover:flex items-center justify-center  text-white"
                >
                  <a
                    href=""
                    class="p-1 hover:text-white/40 transition bg-blue-700 font-light rounded-sm"
                    ><i class="bi bi-ticket-detailed font-extrabold"></i>
                    Detalhes
                  </a>
                  <a
                    href=""
                    class="p-1 hover:text-white/40 transition bg-green-700 font-bold rounded-sm"
                    >+ <i class="bi bi-cart3 font-extrabold"></i
                  ></a>
                </div>
              </div>

              <div class="text-center py-3">
                <h4 class="text-blue-800">Dipirona</h4>
                <span class="text-xs text-alabaster-800"
                  >Acessórios informáticos</span
                >
                <p class="card-text text-green-900 font-extrabold">1000 AOA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<footer class="bg-white ">
  <div class="m-auto max-w-[1170px] flex border-t-2 border-green-700">
    <div class="bg-alabaster-100">
      <div class="w-72 h-28">
        <img
          class="w-full h-full"
          src="../assets/logotiporectang-removebg-preview.png"
          alt=""
        />
      </div>
      <div
        class="flex flex-col justify-between bg-gradient-to-l py-3 px-4 from-green-500 via-green-700 to-green-900 h-96"
      >
        <ul class="flex flex-col gap-5">
          <li class="font-bold text-white">
            Telefones
            <ul>
              <a class="text-sm text-gray-300 font-medium"
                >944 145 409 / 934 180 403</a
              >
            </ul>
          </li>

          <li class="font-bold text-white">
            Email

            <ul>
              <a class="text-sm text-gray-300 font-medium">
                Geral.ndca@gmail.com
              </a>
            </ul>
          </li>

          <li class="font-bold text-white">
            Endereço
            <ul>
              <a class="text-sm text-gray-300 font-medium">
                Kapolo 2 por de trás da Utanga</a
              >
            </ul>
          </li>
        </ul>

        <div>SIGA-NOS</div>
      </div>
    </div>
    <div class="bg-alabaster-100">
      <div
        class="flex flex-col justify-between py-3 w-52 px-4 h-full bg-alabaster-500"
      >
        <ul class="flex flex-col gap-5">
          <li class="font-bold">
            SERVIÇOS
            <ul class="flex flex-col gap-2 mt-2">
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Ajuda Oline</a>
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Contacte-nos</a>
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Ordenar Estados</a>
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Mudar localização</a>
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">FAQ</a>
            </ul>
          </li>

          <li class="font-bold">
            SOBRE
            <ul class="flex flex-col gap-2 mt-2">
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Sobre nós</a>
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Privacy police</a>
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Refundy Policy</a>
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Termos e Condições</a>
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Contacte-nos</a>
            </ul>
          </li>
        </ul>

        <div>SIGA-NOS</div>
      </div>
    </div>
    <div class="bg-alabaster-100 ml-1">
      <div
        class="flex flex-col justify-between py-3 w-52 px-4 h-full bg-alabaster-500"
      >
        <ul class="flex flex-col gap-5">
          <li class="font-bold">
            MINHA CONTA
            <ul class="flex flex-col gap-2 mt-2">
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Login</a>
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Registar-se</a>
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Minha Carinha</a>
              <a href="" class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Meu Carrinho</a>
            </ul>
          </li>
        </ul>

        <div>SIGA-NOS</div>
      </div>
    </div>

    <div class="bg-alabaster-100 ml-1 w-full">
      <div
        class="flex flex-col justify-between py-3  px-4 h-full bg-alabaster-500"
      >
        <ul class="flex flex-col gap-5">
          <li class="font-bold">
            <h1 class="">NEWSLETTER</h1>
            <p class="mt-4 font-extralight text-xs">Todas as novidades NDCA no teu email</p>
            <form action="">
              <input type="text" name="" id=""  placeholder="Insire o teu email"
               class="py-2 mt-2 px-2 placeholder:font-light placeholder:text-alabaster-800 border-alabaster-900 bg-white border rounded-sm"
              >
              <button class="w-full py-2 mt-3 text-sm  rounded-sm text-alabaster-200 bg-gradient-to-r from-blue-500 via-blue-700 to-blue-900">Inscrever</button>
            </form>
          </li>
        </ul>

        <div>
          <h1>SIGA-NOS</h1>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-green-600 py-4 border-t-4 bg-gradient-to-r from-blue-500 via-blue-700 to-blue-900">
    <div
    class="m-auto max-w-[1170px]  flex items-center justify-between uppercase"
  >
    <div class="flex items-center gap-3 text-white">
      <a>Inicio</a>
      <a>Protutos</a>
      <a>Carrinho</a>
      <a>Sobre</a>
    </div>
    <div class="flex gap-3">
      <p class="text-xs font-light text-alabaster-600">© 2023, NDCA-STORE. Todos direitos reservados</p>
    </div>
  </div>
  </div>
</footer>
