<main class="h-screen flex items-center justify-center max-[1024px]:px-8">
            <div class="flex  max-w-[400px] flex-col w-full shadow-sm rounded-md p-3 ">
                <img class="w-40 self-center" src="https://ndca-online-demo.netlify.app/assets/images/logondca/logotiporectang.png"
                alt="" />
                <p class="text-xl self-center">Iniciar Sessão</p>
                <form class="w-full  font-extralight flex flex-col gap-3   group  mt-3 ">

                    <div class="w-ful">
                        <label for="" class="text-sm">E-mail</label>
                        <input
                            class=" w-full ring-green-500/40 group  outline-none focus:ring-2 p-2 rounded-sm border-[0.0599rem] bg-white border-alabaster-700  placeholder:font-extralight placeholder:text-sm placeholder:text-alabaster-700/70  outline-0 bg-transparent"
                            type="text" name="" id="" placeholder="Nome" />
                    </div>
                    <div class="w-ful">
                        <label for="" class="text-sm">Palavra-Passe</label>
                        <input
                            class=" w-full ring-green-500/40 group  outline-none focus:ring-2 p-2 rounded-sm border-[0.0599rem] bg-white border-alabaster-700  placeholder:font-extralight placeholder:text-sm placeholder:text-alabaster-700/70  outline-0 bg-transparent"
                            type="text" name="" id="" placeholder="exemplo@ndca.com" />
                    </div>
                    <button
                    class="flex items-center transition-all hover:brightness-90 w-full self-end mt-2 justify-center text-sm text-white rounded border-0 bg-green-700 p-2">Entrar</button>
           </form>
                <div class="flex flex-col gap-3 mt-2">
                    <a href="#" class="text-sm font-extralight self-start">Esqueceu a palavara-passe?</a>
                    <a href="#" class="text-sm font-extralight self-center">Registar-se agora!</a>
                </div>
            </div>
</main>