<header class="">
    <div class="bg-green-600  max-[1024px]:px-8">
      <div class="m-auto max-w-[1170px] py-2 flex items-center justify-between">
        <div class="flex items-center justify-center gap-3 text-[0.850rem] font-extralight max-[1024px]:text-sm ">
          <span class="text-white cursor-pointer  max-[900px]:text-xs">+244 944 145 409</span>
          <span class="text-white cursor-pointer max-[900px]:text-xs">geral@ndca.com</span>
        </div>
        <div class="flex items-center gap-3 font-extralight text-[0.850rem]">
          <a class="text-white cursor-pointer font-extralight"><i class="bi bi-facebook"></i></a>
          <a class="text-white cursor-pointer"><i class="bi bi-whatsapp"></i></a>
          <a class="text-white cursor-pointer"><i class="bi bi-linkedin"></i></a>
          <a class="text-white cursor-pointer"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
  
    <nav class="bg-white border-b">
      <div class="m-auto max-w-[1170px] max-[1024px]:px-8 py-1 flex items-center justify-between uppercase">
        <div class="flex items-center gap-3">
          <img class="w-24" src="https://ndca-online-demo.netlify.app/assets/images/logondca/logotiporectang.png"
            alt="" />
          <ul class="max-[1024px]:text-sm max-[900px]:text-xs max-[900px]:hidden flex items-center gap-3">
            <a href="#" class="hover:text-blue-500 transition-all">Inicio</a>
            <a href="#" class="hover:text-blue-500 transition-all">Protutos</a>
            <a href="#" class="hover:text-blue-500 transition-all">Carrinho</a>
            <a href="#" class="hover:text-blue-500 transition-all">Sobre</a>
          </ul>
  
        </div>
        <div class="flex gap-3 max-[1024px]:text-sm max-[900px]:hidden">
          <a href="#" class="hover:text-blue-500 transition-all">Login</a>
          <a href="#" class="hover:text-blue-500 transition-all">Conta</a>
        </div>
        <button class="min-[900px]:hidden m-2 w-12 py-1 focus:border border-gray-90 hover:bg-gray-300"  id="AsiderButton">
          <i id="AsiderButtonICon" class="bi  bi-list text-black text-2xl  font-extrabold"></i>
        </button>
      </div>
    </nav>
    <div class="bg-gradient-to-r from-blue-500 via-blue-700 to-blue-900">
      <div
        class="m-auto max-w-[1170px] max-[1024px]:px-8 relative py-2 gap-3 flex items-center justify-between uppercase ">
        <div
          class="w-[300px] flex items-center gap-3 h-full absolute border-b-4 border-white p-2 max-[900px]:hidden from-blue-700 bg-gradient-to-r via-blue-700 to-blue-900">
          <i class="bi bi-list text-2xl text-white font-semibold"></i>
          <span class="flex items-center text-white text-sm font-semibold">
            Categoria de produtos
          </span>
          <i class="bi bi-chevron-down text-white/40"></i>
        </div>
  
        <div class="flex w-full min-[900px]:ml-80 items-end gap-3">
         <!--  <form class="w-full flex items-end relative justify-end">
            <i class="bi bi-search absolute bottom-1 right-3 text-alabaster-600/50"></i>
            <input
              class="w-4/5 max-[900px]:w-full rounded-sm border-[0.0599rem] border-alabaster-600/40 py-1 pl-3 pr-9 outline-0 bg-transparent"
              type="text" name="" id="" placeholder="O que precuras ?" />
          </form> -->
  
  
            <button class="relative  w-full 
            ">
               <div class=" max-[900px]:w-full relative ">
                    <input type="text" name="" id="search" placeholder="Pesquesar produto"
                    class="w-full max-[900px]:w-full rounded-sm border-[0.0599rem] border-alabaster-600/40  py-1 pl-3 pr-9 outline-0 bg-transparent" >
               
                    <i class="bi bi-search  bottom-1  right-3 text-alabaster-700 absolute "></i>
                </div>
                <div id="ADsearchPortal" class="absolute ad-hidden inset-0 top-[34px] transition-all rounded-b z-40  border-[1px] border-alabaster-600  overflow-hidden  bg-alabaster-100 h-fit">
                   <ul class="w-full py-1">
                        <a href="#" class="w-full flex items-start gap-3  px-3 py-1 transition-all group  hover:bg-blue-700  text-sm font-extraaght">
                       <!--      <img class=" w-10 h-10 rounded-full"
                                            src="https://ecommerce-api-4bxi.onrender.com/api/v1/product-preview/tmp/products/Apple%20iPhone%2014-1690631295381.jpeg"
                                            alt="iphone"> -->
                        <div class="flex flex-col items-start">
                         <span class="text-sm font-bold text-alabaster-700 group-hover:text-alabaster-200">Arroz</span>
                         <p class="text-xs font-extralight text-alabaster-700 group-hover:text-alabaster-400">Lorem ipsum dolor sit amet consectetur</p>
                        </div>
                        </a>
                        <a href="#" class="w-full flex items-start px-3 py-1 transition-all group  hover:bg-blue-700  text-sm font-extraaght">
                            <div class="flex flex-col items-start">
                             <span class="text-sm font-bold text-alabaster-700 group-hover:text-alabaster-200">Arroz</span>
                             <p class="text-xs font-extralight text-alabaster-700 group-hover:text-alabaster-400">Lorem ipsum dolor sit amet consectetur</p>
                            </div>
                            </a>
                    </ul>
                </div>
            </button>
  
  
  
  
  
          <button class="flex items-center transition-all hover:brightness-90 text-white  max-[900px]:hidden rounded border-0 bg-green-700">
            <span class="py-1 px-3">Carrinho</span>
            <span class="py-1 px-3 bg-green-500/30"> 1 </span>
            <span class="py-1 px-3 bg-green-600 rounded-r-md">
              <i class="bi bi-cart3"></i>
            </span>
          </button>
          <button class="flex items-center transition-all hover:brightness-90 text-white rounded border-0  min-[900px]:hidden bg-green-700">
            <span class="py-1 px-3 bg-green-500/30"> 1 </span>
            <span class="py-1 px-3 bg-green-600 rounded-r-md">
              <i class="bi bi-cart3"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
 
  </header>
<main class="pb-14">
    <section class="m-auto max-w-[1170px] max-[1024px]:px-8 pt-14">
        <div class="col-12 text-center">
            <h3 class="mb-3 text-xl font-light">NOTICIA</h3>
        </div>
        <div class="col mt-7">
            <a class="col-md-12 mb-3 cursor-pointer">
                <div class="cad flex  max-[1024px]:flex-col items-start gap-4">
                    <div data-loading="active" class="relative w-full flex justify-center items-center h-96 rounded-sm transition-all overflow-hidden group cursor-pointer data-[loading='']:animate-pulse data-[loading='']:bg-slate-200">
                        <img class=" w-full h-full"
                                          src="https://ecommerce-api-4bxi.onrender.com/api/v1/product-preview/tmp/products/Apple%20iPhone%2014-1690631295381.jpeg"
                                          alt="iphone">
                    </div>

                    <div class="text-start pt-2">
                        <h1 class="card-text font-extrabold">Papelaria</h1> 
                        <p class="text-sm font-extralight mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nobis sapiente officiis, mollitia quod, vel maiores nam, blanditiis amet perspiciatis accusamus dolor atque soluta. Minus fugit impedit quas sit nemo!</p>  
                    </div>
                </div>
            </a>
           
        </div>
    </section>

</main>
<footer class="bg-white ">
    <div class="m-auto max-w-[1170px] flex border-t-2 border-green-700">
        <div class="bg-alabaster-100">
            <div class="w-72 h-28">
                <img class="w-full h-full" src="../assets/logotiporectang-removebg-preview.png" alt="" />
            </div>
            <div
                class="flex flex-col justify-between bg-gradient-to-l py-3 px-4 from-green-500 via-green-700 to-green-900 h-96">
                <ul class="flex flex-col gap-5">
                    <li class="font-bold text-white">
                        Telefones
                        <ul>
                            <a class="text-sm text-gray-300 font-medium">944 145 409 / 934 180 403</a>
                        </ul>
                    </li>

                    <li class="font-bold text-white">
                        Email

                        <ul>
                            <a class="text-sm text-gray-300 font-medium">
                                Geral.ndca@gmail.com
                            </a>
                        </ul>
                    </li>

                    <li class="font-bold text-white">
                        Endereço
                        <ul>
                            <a class="text-sm text-gray-300 font-medium">
                                Kapolo 2 por de trás da Utanga</a>
                        </ul>
                    </li>
                </ul>

                <div>SIGA-NOS</div>
            </div>
        </div>
        <div class="bg-alabaster-100">
            <div class="flex flex-col justify-between py-3 w-52 px-4 h-full bg-alabaster-500">
                <ul class="flex flex-col gap-5">
                    <li class="font-bold">
                        SERVIÇOS
                        <ul class="flex flex-col gap-2 mt-2">
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Ajuda
                                Oline</a>
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Contacte-nos</a>
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Ordenar
                                Estados</a>
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Mudar
                                localização</a>
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">FAQ</a>
                        </ul>
                    </li>

                    <li class="font-bold">
                        SOBRE
                        <ul class="flex flex-col gap-2 mt-2">
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Sobre
                                nós</a>
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Privacy
                                police</a>
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Refundy
                                Policy</a>
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Termos
                                e Condições</a>
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Contacte-nos</a>
                        </ul>
                    </li>
                </ul>

                <div>SIGA-NOS</div>
            </div>
        </div>
        <div class="bg-alabaster-100 ml-1">
            <div class="flex flex-col justify-between py-3 w-52 px-4 h-full bg-alabaster-500">
                <ul class="flex flex-col gap-5">
                    <li class="font-bold">
                        MINHA CONTA
                        <ul class="flex flex-col gap-2 mt-2">
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Login</a>
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Registar-se</a>
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Minha
                                Carinha</a>
                            <a href=""
                                class="text-xs cursor-pointer transition-colors hover:text-blue-700 text-gray-500 font-medium">Meu
                                Carrinho</a>
                        </ul>
                    </li>
                </ul>

                <div>SIGA-NOS</div>
            </div>
        </div>

        <div class="bg-alabaster-100 ml-1 w-full">
            <div class="flex flex-col justify-between py-3  px-4 h-full bg-alabaster-500">
                <ul class="flex flex-col gap-5">
                    <li class="font-bold">
                        <h1 class="">NEWSLETTER</h1>
                        <p class="mt-4 font-extralight text-xs">Todas as novidades NDCA no teu email</p>
                        <form action="">
                            <input type="text" name="" id="" placeholder="Insire o teu email"
                                class="py-2 mt-2 px-2 placeholder:font-light placeholder:text-alabaster-800 border-alabaster-900 bg-white border rounded-sm">
                            <button
                                class="w-full py-2 mt-3 text-sm  rounded-sm text-alabaster-200 bg-gradient-to-r from-blue-500 via-blue-700 to-blue-900">Inscrever</button>
                        </form>
                    </li>
                </ul>

                <div>
                    <h1>SIGA-NOS</h1>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-green-600 py-4 border-t-4 bg-gradient-to-r from-blue-500 via-blue-700 to-blue-900">
        <div class="m-auto max-w-[1170px]  flex items-center justify-between uppercase">
            <div class="flex items-center gap-3 text-white">
                <a>Inicio</a>
                <a>Protutos</a>
                <a>Carrinho</a>
                <a>Sobre</a>
            </div>
            <div class="flex gap-3">
                <p class="text-xs font-light text-alabaster-600">© 2023, NDCA-STORE. Todos direitos reservados</p>
            </div>
        </div>
    </div>
</footer>