.tab {
    overflow: hidden;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
   @apply bg-gradient-to-r from-blue-500 via-blue-700 to-blue-900 text-white
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    animation: fadeEffect 1s;
  }


  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

